<h1>Search Any Movie Here!!!</h1>
<form class="" action="/results" method="GET">
  <input type="text" name="search_value" placeholder="enter any movie name">
  <button>Search any Movie</button>
</form>
