<%- include('partials/header'); -%>


<h1>This is the Homepage</h1>



<img src="http://www.pomsky.org/wp-content/uploads/2020/04/82292073_2259699644131718_1968551002596442112_o-1024x683.jpg" alt="">

<%- include('partials/footer'); -%>
